@import url('http://fonts.cdnfonts.com/css/circular-std-book');

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  overflow-x: hidden;
}

.tab-pane {
  width: 100px;
  height: 10px;
  background-color: #65def6;
  border-radius: 20px;
}

.rating-title {
  font-family: 'DM Sans';
  font-size: clamp(1rem, calc(2.5vw + 1rem), 2.3rem);
  line-height: 1.2;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;
}

.rating-subtitle {
  font-family: 'DM Sans';
  font-size: clamp(0.25rem, calc(1vw + 1rem), 0.9rem);
  line-height: 1.7;
  color: #959595;
}

.primary-title {
  font-family: 'DM Sans';
  font-size: clamp(3rem, calc(4.5vw + 1rem), 4.3rem);
  line-height: 1.2;
  background: -webkit-linear-gradient(#cf94fe, #a0ecfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  margin-bottom: 50px;
}

.primary-subheading {
  font-family: 'DM Sans';
  font-size: clamp(1rem, calc(2vw + 1rem), 2rem);
  line-height: 1.3;
  color: white;
  max-width: 700px;
  align-self: center;
}

.coming-soon {
  height: 450px;
  /* background: linear-gradient(0.25turn, #c394fe, #8e9ef2, #a0ecfd); */
  text-align: center;
  padding: 100px 0;
  /* background-image: url(../assets/images/gradient-bg.png); */
}

.coming-soon-title {
  font-family: 'DM Sans';
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
}

.app-store-icon {
  margin: 80px 0;
}

.app-store-img {
  width: 300px;
}

.content-1-heading {
  font-size: clamp(2.5rem, calc(4vw + 1rem), 3.5rem);
  line-height: 1.1;
  background: -webkit-linear-gradient(#cf94fe, #a0ecfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'DM Sans';
  font-weight: 500;
  margin-bottom: 40px;
}

.content-1-heading-2 {
  font-size: clamp(2rem, calc(3.5vw + 1rem), 3rem);
  line-height: 1.2;
  background: -webkit-linear-gradient(#cf94fe, #a0ecfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'DM Sans';
  font-weight: 500;
  margin-bottom: 20px;
}

.subscribe-box {
  background: linear-gradient(0.5turn, #7c420e, #c68e5b);
  height: 500px;
  padding-top: 150px;
  margin: 0 80px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-title {
}

.subscribe-input-box {
}

.subscribe-input {
}

.sunscribe-input-button {
}

.rating-img {
  width: 20px;
}

@media only screen and (max-width: 400px) {
  .app-store-img {
    width: 200px;
  }
  .primary-title {
    margin-top: 30px;
  }
}

.container-slider {
  height: 700px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  margin-top: 70px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 60px;
  transform: translateY(-60%);
  z-index: 1;
}

.container-dots {
  position: absolute;
  top: 40px;
  left: 75%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 110px;
  height: 8px;
  border-radius: 3px;
  margin: 0 5px;
  background: #202020;
}
.dot.active {
  background: #65def6;
}

@media only screen and (max-width: 768px) {
  .app-store-img {
    width: 300px;
  }
  .content-1 {
    flex-direction: column;
  }

  .dot {
    width: 50px;
  }

  .container-dots {
    left: 70%;
  }

  .content-1-heading {
    margin-top: 20px;
    font-size: clamp(1.5rem, calc(3vw + 1rem), 2rem);
  }

  .content-1-heading-2 {
    margin-top: 20px;
    font-size: clamp(1.5rem, calc(3vw + 1rem), 2rem);
  }

  .next {
    display: none;
  }

  .dot {
    width: 50px;
    height: 5px;
  }
}
